@import "tailwindcss";

body {
  background: #f8fafc;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
